*{
    border: 1px solid #000;
    margin: 5px;
    font-family: Roboto;
}

header{
    padding: 50px;
    text-align: center;
}

nav{
    padding: 50px;
    text-align: center;
}

aside{
    display: inline-block;
    text-align: center;
    width: 21%;
    padding: 27vh;
    margin-left: 12.5px;
}

footer{
    padding: 50px;
    text-align: center;
}