*{
    border: 1.5px solid #000;
    margin: 5px;
    font-family: system-ui;
}

header{
    padding: 50px;
    text-align: center;
}

nav{
    padding: 50px;
    text-align: center;
}

aside{
    display: inline-block;
    text-align: center;
    width: 20.5%;
    padding: 27.45vh;
}

footer{
    padding: 50px;
    text-align: center;
}